<h2>This is where I would put a short bio about myself!</h2>

<a href="/">Go to my Resume(index)</a>

<header class='masthead'>
	  <p class='masthead-intro'>Hi, I'm</p>
	    <h1 class='masthead-heading'>Ayushi!</h1>
</header>
<section class="introduction-section">
	    <h1>Introduction</h1>
	        <p>I am a house wife and a business owner, part time marketer, and soon to be web developer and data scientist.</p>
		    <p>I love the internet, technology, and building beautiful things.</p>
</section>
<section class="location-section">
	    <h1>Where I'm From</h1>
	        <p>I'm originally from Indore, INDIA. </p>
</section>
<section class="questions-section">
	    <h1>More About Me</h1>
	        <h2>What are your favorite hobbies?</h2>
		    <p>My favorite hobby is building things on the internet like ecommerce sites and email marketing campaigns.</p>
		        <h2>What's your dream job?</h2>
			    <p>My dream job is to rule the world with my kindness and good looks</p>
			        <h2>Where do you live?</h2>
				    <p>I live on a rural acreage, but I'm close to Salt Lake City.</p>
				        <h2>Why do you want to be a Queen?</h2>
					    <p>Because I want to spread kindness and love for GOD.</p>
</section>


